<!-- Cards Container -->
<div>
  <div class="w-80 p-3 mt-3">
    <p class="font-semibold text-black text-base">
      All Notes
      <span class="text-gray-500 text-xs"> {{ notes.length }} Notes</span>
    </p>
  </div>

  <div class="flex flex-wrap gap-4 p-4">
    @for (note of notes | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; track note.id) {
    <main
      class="p-6 w-80 flex flex-col cursor-pointer bg-orange-300 rounded-3xl shadow-md ml-4 mb-4"
    >
      <div class="p-4 flex items-center">
        <div class="w-full flex items-center">
          <div class="flex-[7] overflow-hidden">
            <h2
              class="text-lg font-semibold whitespace-nowrap overflow-hidden text-ellipsis"
            >
              {{ note.title }} &nbsp;
            </h2>
          </div>
          <div class="flex-[3] flex justify-end">
            <h2 class="text-lg font-semibold">
              <i
                class="bi bi-pin-angle p-2 rounded-full bg-white transition duration-300 hover:bg-white hover:text-orange-500 cursor-pointer"
              ></i>
            </h2>
          </div>
        </div>
      </div>

      <div class="group flex items-center justify-between w-full p-3 relative">
        <div
          class="hidden group-hover:flex flex-1 justify-center gap-10 transition duration-300"
        >
          <i
            class="bi bi-eye text-base p-2 rounded-full bg-white transition duration-300 hover:bg-white hover:text-orange-500 cursor-pointer"
            (click)="openPopup(note)"
          >
          </i>
          <i
            class="bi bi-trash text-base p-2 rounded-full bg-white transition duration-300 hover:bg-white hover:text-orange-500"
            (click)="deleteNote(note.id)"
          >
          </i>
        </div>

        <div class="ml-auto mr-2">
          <i
            class="bi bi-pencil p-2 rounded-full bg-white transition duration-300 hover:bg-white hover:text-orange-500 cursor-pointer"
            (click)="editNote(note)"
          ></i>
        </div>
      </div>
    </main>
    }
  </div>

  <!-- Pagination Controls -->
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>

<!-- Popup for Viewing Note Details -->
@if (selectedNote) {
<div
  class="fixed inset-0 flex items-center justify-center z-10 bg-black bg-opacity-50 p-4"
>
  <div
    class="bg-white rounded-lg shadow-lg p-6 max-w-2xl w-auto max-h-[90vh] overflow-auto transition-all"
  >
    <div class="max-h-[70vh] overflow-y-auto">
      <h2 class="text-xl font-bold text-gray-800 break-words">
        {{ selectedNote.title }}
      </h2>
      <p class="mt-2 text-gray-700 break-words">
        {{ selectedNote.content }}
      </p>
    </div>
    <div class="mt-4 flex justify-end">
      <button
        class="bg-orange-400 text-white px-4 py-2 rounded-lg"
        (click)="closePopup()"
      >
        Close
      </button>
    </div>
  </div>
</div>
}
