<!-- Components -->
<body class="ml-[5rem] sm:ml-20">
  <!-- Toast Notification -->

  <div>
    <app-add-note [selectedNote]="selectedNote" />
  </div>
  <div>
    @if (showToast) {
    <div
      class="fixed right-5 bg-red-200 text-red-800 px-6 py-3 rounded-lg shadow-md transition-opacity duration-500"
    >
      <i class="bi bi-trash text-base"> </i>Note deleted successfully!
    </div>
    } @else {
    <div class="hidden"></div>
    }

    <app-card
      (selectNote)="selectsNotes($event)"
      (noteDeleted)="showDeleteToast()"
    />
  </div>
</body>
